@import "tailwindcss";
@layer components{
    .theme-button{
       @apply text-4xl text-amber-500 bg-gray-900 p-2 rounded-full hover:cursor-pointer
    }
}
@custom-variant dark (&:where(.dark, .dark *));